div.title {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  background: rgb(28, 28, 28);
  background: linear-gradient(
    180deg,
    rgba(28, 28, 28, 1) 26%,
    rgb(41, 41, 41) 100%
  );
  justify-content: center;
}
div.title h3 {
  color: honeydew;
  padding: 15px 0;
  font-size: 22px;
  letter-spacing: 1.8px;
}
div.title i {
  color: white;
  line-height: 60px;
  margin: 0 10px;
}
div#posts {
  width: 80vw;
  margin: 30px auto;
}
div#posts ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
div#posts li {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 20px;
}
div#posts li a {
  color: rgb(4, 0, 43);
  text-decoration: none;
}

div#posts li div.image {
  width: 250px;
  height: 150px;
}
div#posts li div.image img {
  width: 100%;
  height: 100%;
}
div#posts li a h3 {
  letter-spacing: 1.3px;
  padding: 5px 0 10px;
  font-size: 15px;
  font-family: Verdana, sans-serif;
}
div#posts li a p {
  text-align: right;
}
