* {
  margin: 0;
  padding: 0;
}
div.nav_top {
  background-color: black;
}
div.nav_top ul {
  list-style: none;
  width: 80vw;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
div.nav_top ul li {
  text-align: center;
}
div.nav_top ul li a {
  color: white;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  letter-spacing: 1.6px;
  display: block;
}
