div#register {
  position: fixed;
  top: 20vh;
  left: 30vw;
  border: 1px solid rgb(32, 7, 78);
  box-shadow: 0 0 10px grey;
  background-color: #fff;
  width: 520px;
  height: 280px;
}

div#register h3 {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: 1.7px;
  margin: 20px auto;
  color: rgb(10, 0, 56);
}
div#register div#form {
  width: 350px;
  height: 200px;
  margin: 30px auto 20px;
}
div#register div#form div label {
  display: inline-block;
  width: 100px;
  font-size: 16px;
  transform: translateY(5px);
  font-family: Verdana, sans-serif;
  font-weight: bold;
}
div#register div#form div#username {
  margin-bottom: 10px;
}
div#register div#form div#username,
div#register div#form div#password {
  height: 40px;
}
div#register div#form div input[type="text"],
div#register div#form div input[type="password"] {
  width: 200px;
  height: 25px;
  margin-left: 20px;
}
div#register div#form div#submit {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
}
div#register div#form div#submit input {
  margin: 0 10px;
  width: 120px;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  letter-spacing: 1.6px;
  border: none;
}
div#register div#form div#submit input[type="submit"] {
  background-color: rgb(0, 133, 18);
  color: #fff;
}
div#register div#form div#submit input[type="button"] {
  background-color: #fff;
  color: rgb(11, 0, 43);
  border: 0.5px solid rgb(11, 0, 43);
}
p#alert {
  text-align: center;
  color: red;
  font-weight: bold;
  letter-spacing: 1.4px;
  font-size: 15px;
}

#thanks {
  position: fixed;
  top: 20vh;
  left: 30vw;
  border: 1px solid rgb(32, 7, 78);
  box-shadow: 0 0 10px grey;
  background-color: #fff;
  width: 520px;
  height: 280px;
}
#thanks p {
  text-align: center;
  color: red;
  font-weight: bold;
  letter-spacing: 1.4px;
  font-size: 21px;
  margin: 45px 0 0 0;
  font-family: Arial, sans-serif;
}

#thanks div {
  margin: 12+0px auto 0;
  display: flex;
  justify-content: center;
}

#thanks button {
  margin: 0 10px;
  width: 120px;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  letter-spacing: 1.6px;
  border: none;
  background-color: rgb(0, 133, 18);
  color: #fff;
  margin: 0 auto;
}
