div.slider {
  animation: slider_image 25s infinite;
  width: 98.8vw;
  height: 440px;
  margin: 0 auto;
}
div.slider img {
  width: 100%;
  height: 100%;
}
@keyframes slider_image {
  0%,
  100% {
    background-image: url("../images/m1.jpg");
  }
  25% {
    background-image: url("../images/m2.jpg");
  }
  50% {
    background-image: url("../images/m2.jpg");
  }
  56% {
    background-image: url("../images/m3.jpg");
  }
  75% {
    background-image: url("../images/m3.jpg");
  }
}
