#snake {
  background-image: url("../images/snake.jpg");
  min-height: 67vh;
  background-size: contain;
  padding: 30px 0;
}
#snake button {
  position: relative;
  top: 40vh;
  left: 46%;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  background-color: rgb(0, 146, 12);
  color: white;
  border: 1px solid white;
  width: 150px;
  height: 50px;
  border-radius: 50px;
}
.game-area {
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  width: 460px;
  height: 460px;
  border: 3px solid black;
}
.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: brown;
  border: 1px solid white;
}
.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: green;
  border: 1px solid grey;
  z-index: 1;
}
