div#modal {
  position: fixed;
  top: 20vh;
  left: 30vw;
  border: 1px solid black;
  box-shadow: 0 0 10px grey;
  background-color: #fff;
  width: 500px;
  height: 230px;
}

span#x {
  position: absolute;
  top: -10px;
  left: 31vw;
  font-size: 25px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  background-color: #fff;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
}
div#modal h3 {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: 1.7px;
  margin: 20px auto;
  color: rgb(10, 0, 56);
}

div#modal form {
  width: 400px;
  height: 200px;
  margin: 30px auto 20px;
}
div#modal form div#checkboxs {
  display: flex;
  margin: 20px 12px;
}
div#modal form div#checkboxs div {
  margin-right: 20px;
}
div#modal form div#checkboxs div label {
  font-family: Verdana, sans-serif;
  letter-spacing: 1.4px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: bold;
}
div#modal form div#search_input input {
  width: 400px;
  height: 32px;
  padding-left: 8px;
}
div#modal form div#search {
  text-align: right;
}
div#modal form div#search input {
  background-color: rgb(0, 124, 48);
  color: white;
  letter-spacing: 1.6px;
  width: 130px;
  height: 37px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 2px rgb(68, 68, 68);
  font-size: 16px;
}

/* Page Error403 */
div.error403 {
  min-height: 75vh;
  background-image: url("../images/403.jpg");
  background-position: right;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}

div.error403 h3 {
  width: 40vw;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 100px;
  left: -5%;
  font-size: 32px;
  font-family: Verdana, sans-serif;
  letter-spacing: 1.5px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-shadow: 0 0 4px black;
}
div.error403 h3 span {
  font-weight: bold;
}
