div.title {
  width: 20vw;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
}
div.title h3 {
  font-family: Verdana, sans-serif;
  color: rgb(19, 19, 19);
  padding: 17px 0 10px;
  font-size: 20px;
  letter-spacing: 1.9px;
}
div.title i {
  color: rgb(19, 19, 19);
  line-height: 60px;
  margin: 0 10px;
}
div#posts {
  width: 80vw;
  margin: 30px auto;
}
div#posts ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
div#posts li {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 20px;
}
div#posts li a {
  color: rgb(4, 0, 43);
  text-decoration: none;
}

div#posts li div.image {
  width: 250px;
  height: 150px;
}
div#posts li div.image img {
  width: 100%;
  height: 100%;
}
div#posts li a h3 {
  letter-spacing: 1.3px;
  padding: 5px 0 10px;
  font-size: 15px;
  font-family: Verdana, sans-serif;
}
div#posts li a p {
  text-align: right;
}
