div.footer {
  background: rgb(28, 28, 28);
  background: linear-gradient(
    180deg,
    rgba(28, 28, 28, 1) 26%,
    rgb(41, 41, 41) 100%
  );
  color: white;
  font-weight: bold;
}
div.footer p {
  padding: 15px;
  letter-spacing: 1.7px;
  font-family: Verdana, sans-serif;
  text-align: center;
}
