* {
  margin: 0;
  padding: 0;
}
nav {
  margin: 0;
  padding: 0;
}
div.nav_top {
  background: rgb(28, 28, 28);
  background: linear-gradient(
    180deg,
    rgba(28, 28, 28, 1) 26%,
    rgba(57, 57, 57, 1) 100%
  );
  height: 5vh;
  width: 99.9vw;
  margin-right: 0 !important;
}
div.nav_top ul {
  list-style: none;
  width: 100%;
  display: flex;
  margin: 0;
  line-height: 5vh;
}
div.nav_top ul li:nth-of-type(1) {
  margin-left: 70px;
}
div.nav_top ul li {
  text-align: center;
  width: 170px;
  border-right: 1px solid grey;
}
div.nav_top ul li#notLogin {
  margin-left: 293px;
}
div.nav_top ul li:nth-last-of-type(5) {
  width: 240px;
}
div.nav_top ul li:nth-last-of-type(3) {
  border-right: none;
  margin-right: 250px;
}
div.nav_top ul li:nth-last-of-type(2) {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  width: 73px;
  margin-left: 125px;
}
div.nav_top ul li:nth-last-of-type(1) {
  width: 73px;
}
div.nav_top ul li i {
  color: white;
  cursor: pointer;
}
div.nav_top ul li a {
  color: white;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  letter-spacing: 1.6px;
  display: block;
}
/* Dolne menu. */
div.nav_bottom {
  display: flex;
  justify-content: space-between;
  height: 100px;
  border-bottom: 0.5px solid rgb(189, 189, 189);
}
div.nav_bottom div.logo {
  margin-left: 150px;
  height: 100px;
  width: auto;
}
div.nav_bottom div.logo img {
  width: 100%;
  height: 100%;
}
div.nav_bottom ul {
  list-style: none;
  display: flex;
  margin: 20px 0;
}
div.nav_bottom ul li {
  width: 150px;
  text-align: center;
  height: 100%;
  border-right: 0.5px solid rgb(184, 184, 184);
}
div.nav_bottom ul li a {
  font-size: 18x;
  letter-spacing: 1.8px;
  font-weight: bold;
  color: rgb(24, 24, 24);
  font-family: Verdana, sans-serif;
  text-decoration: none;
  display: block;
  transform: translateY(20px);
}
