{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TestsGame</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
      <link rel="stylesheet" href="{% static 'css/app.css' %}">
      <link rel="stylesheet" href="{% static 'css/slider.css'%}">
      <link rel="stylesheet" href="{% static 'css/basic.css'%}">
      <link rel="stylesheet" href="{% static 'css/footer.css'%}">
      <link rel="stylesheet" href="{% static 'css/login.css'%}">
      <link rel="stylesheet" href="{% static 'css/post.css'%}">
  </head>
  <body>
    <div id="main">
      <div id="app"></div>
    </div>

    <script src="{% static "frontend/main.js" %}"></script>
    <script src="https://kit.fontawesome.com/e4892fcf67.js" crossorigin="anonymous"></script>
  </body>
</html>